.parallax img {
    width: 100%;
   
}

h3, h5, p, nav .brand-logo {
    font-family: 'Cinzel', serif;
    color:darkslategrey;
    text-align: center;
}

/* opacity to parallax images */
.parallaximg {
    opacity: .8;
}

/* backgraound to navbar */
.nav-wrapper {
    background-color: white;
 
}

/* color of hamburger collapse */
nav .sidenav-trigger i {
    color: darkslategray;
}

footer.pager-footer {
    background-color: white;
}

.fb {
   height: 50px;
   width: 50px;
 justify-content: center;
}

.copyright {
    text-align: center;
    color: slategray;
}

.connect {
    color: slategray;

}

.pastor {
    padding: 100px;
}